.l-header {
	background-color: $header-bg;
	position: relative;
	position: fixed;
	width: 100%;
	z-index: 10000000;
	&__inner {
		width: 100%;
		margin: 0 auto;
	}
	&__content {
		display: flex;
		align-items: center;
		height: 120px;
		justify-content: space-between;
	}

	&__logo{
		width: 18.5%;
		margin-left: 7.8%;
		margin-right: 2.7%;
		img{
			max-width: 207px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__contain{
		display: flex;
		justify-content: space-between;
		width: 82.5%;
	}
	&__nav{
		font-weight: bold;
		width: 100%;
		ul{
			display: $flex;
			width: 100%;
			align-items: baseline;
			height: 100%;
			font-size:clamp(( 10px / $font-size) * 1rem, 1.5vw ,( 16px / $font-size) * 1rem);
			li{
				flex: 1;
				height: 100%;
				display: inline-flex;
				width: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&__link{
		text-align: center;
		padding: 0 8px;
		display: block;
		color: #333333;
	}
	&__contact{
		display: $flex;
		justify-content: space-between;
		white-space: nowrap;
		margin-right: 6%;
		margin-left: 2%;
		&--phone{
			margin-right: 10%;
			span{
				display: inline-flex;
				align-items: center;
				&:first-child{
					a{
						color: $blue;
					}
					color: $blue;
					font-size:clamp(( 12px / $font-size) * 1rem, 1.5vw ,( 18px / $font-size) * 1rem);
					img{
						width: 20px;
						height: 20px;
						margin-right: 6px;
					}
				}
				&:last-child{
					color: $white;
					background: $blue;
					padding: 7px 32px;
					border-radius: 25px;
					font-size:clamp(( 10px / $font-size) * 1rem, 1.5vw ,( 16px / $font-size) * 1rem);
					img{
						width: 24px;
						height: 16px;
						margin-right: 6px;
					}
				}
			}
		}
		&--language{
			color: $blue;
			font-size:clamp(( 10px / $font-size) * 1rem, 1.5vw ,( 14px / $font-size) * 1rem);
			div{
				font-weight: bold;
				font-family: $font-family-gothic;

				span{
					&.is-active{
						border-bottom: 1px solid $red;
					}
				}
			}
		}
	}

}
// icon click open and close menu
.l-menu__button {
	display: none;
	position: relative;
	margin-left: auto;
	z-index: 20;
	margin: 5px 20px 0 0;
}

// active menu
.is-click2{
	display: none;
}
.l-header__menusp{
	span{
		margin-top: 20px;
		img{
			margin-right: 10px;
		}
	}
	p{
		margin-top: 12px;
		color: $blue;
		span{
			background: $red;
			color: $white;
			display: inline-block;
			padding: 0 15px;
			margin-left: 10px;
		}
	}
}
// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab12 {
	.l-header {
		&__nav {
			display: block !important;
		}
		&__link{
			padding: 0;
		}
		&__logo{
			margin-inline: 2%;
		}
		&__contact{
			margin-inline: 2% 4%;
			&--phone {
				margin-right: 5%;
				span{
					&:last-child{
						
						padding: 7px 18px;
					}
				}
			}
		}
	}
}

// Phone
// --------------------------------------------------
@include media-breakpoint-sp {
	.l-header {
		&__nav {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			margin-top: 80px;
			background-color: $white;
			z-index: 10;
			overflow: scroll;
		}
		&__logo{
			margin-left: 5%;
			margin-right: 9%;
			padding-top: 25px;
			height: 100%;
			width: unset;
			background:  #fff;
			img{
				width: 116px;
			}
		}
		
		&__content {
			height: 80px;
		}
		&__nav{
			ul{
				height: unset;
				padding: 0 20px;
				flex-wrap: wrap;
				column-gap: 10px;
				row-gap: 10px;
				font-size: ( 16px / $font-size) * 1rem;
				li{
				    position: relative;
					width: calc(100%/2 - 5px);
					height: 100px;
					flex: unset;
					&::after{
						content: "";
						position: absolute;
						width: 18px;
						height: 5px;
						background: url("../../image/right.png");
						right: 9px;
    					bottom: 9px;
					}
				}
			}
		}
		&__contact{
			&--language div {
				font-size: ( 14px / $font-size) * 1rem;
			}
		}
		
		&__link{
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			box-shadow: 0 0 10px #e5e5e5;
		}
	}
	.l-menu__button {
		display: block;
	}
}
